/**
* Copyright 2004-present Facebook. All Rights Reserved.
*/
.m-bg-like {
  background-image: url(like.png);
  background-repeat: no-repeat;
}
.m-bg-comment {
  background-image: url(comment.png);
  background-repeat: no-repeat;
}
.m-bg-loading {
  background-image: url(indicator_blue_small.gif);
  background-repeat: no-repeat;
}