/**
* Copyright 2004-present Facebook. All Rights Reserved.
*/
.m-comment-list-more {
  background-color: #ECEFF5;
  background-position: 8px 50%;
  padding-left: 25px;
  border-top: none;
  border-bottom-color: #FFF;
}

.m-comment-list-action {
  background-color: #ECEFF5;
  width: 100%;
}

.m-comment-list .m-datalist-loading {
  border-top: none;
  border-bottom-color: #FFF;
}