body {
  margin: 0;
  padding: 0;
}

body,
tr,
input,
textarea {
  font-family: sans-serif;
  font-size: 14px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #3B5998;
  -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
}

.clear {
  clear: both;
}


.test {
  background: red;
}

.hidden {
  display: none !important;
}

.m-container {
  min-height: 600px;
  -webkit-transform: translate3d(0, 0, 0)
}