/**
* Copyright 2004-present Facebook. All Rights Reserved.
*/
.m-post-attch {
  margin: 5px 0;
  font-size: 12px;
}

.m-post-attch-media {
  margin-bottom: 2px;
}

.m-post-attch-name {
  font-weight: bold;
}

.m-post-attch-description,
.m-post-attch-caption {
  margin-top: 2px;
  color: #777;
}

.m-post-attch .m-image-block-left {
  margin-right: 7px;
}

.u-post-attch_without-media {
  border-left: 2px solid #CCC;
  padding-left: 7px;
}

.m-post-attch-content {
  min-width: 150px;
}

.u-post-attch_multi-media .m-post-attch-content {
  clear: both;
  border-left: 2px solid #CCC;
  padding-left: 7px;
  display: block;
  margin-top: 6px;
}