/**
* Copyright 2004-present Facebook. All Rights Reserved.
*/
.m-post {
  position: relative;
  min-height: 40px;
  padding: 5px 8px 7px 5px;
}
.m-post_stream {
  border-bottom: 1px solid #EEE;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(86%,#f4f4f4), color-stop(100%,#f9f9f9));
}
.m-post_stream {
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 86%,#f9f9f9 100%);
}

.m-post a {
  word-break: break-word;
}

.m-post_with_icon {
  min-height: 20px;
}

.m-post-from-pic {
  width: 34px;
  height: 34px;
  position: absolute;
}

.m-post-from-icon {
  width: 16px;
  height: 16px;
  left: 18px;
  position: absolute;
}

.m-post-content {
  margin-left: 40px;
  margin-right: 30px;
}

.m-post_standalone {
  background: white;
}

.m-post_standalone .m-post-content {
  margin-right: 0;
}

.m-post-actor {
  font-weight: bold;
}

.m-post-actions {
  font-size: 12px;
  margin-top: 5px;
}

.m-post-actions .m-timestamp {
  margin: 3px 0;
}

.m-post-more {
  background: url(more.png) no-repeat 50% 50%;
  position: absolute;
  right: 5px;
  top: 50%;
  width: 20px;
  height: 22px;
  margin-top: -11px;
  padding: 3px;
}