/**
* Copyright 2004-present Facebook. All Rights Reserved.
*/
.m-datalist-more {
  display: block;
  padding-left: 10px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #CCC;
  border-left: none;
  border-right: none;
}

.m-datalist-more-loader {
  display: none;
}

.m-datalist-more_loading .m-datalist-more-loader {
  display: inline-block;
  background-position: 0 0;
  width: 16px;
  height: 11px;
  margin-left: 5px;
}